.ThemeShadedVioletSubMenu {
	background: transparent;
	border: 1px solid #400000;
}
.ThemeShadedVioletSubMenuTable {
	width: 130px;
	padding: 0px;
	cursor: default;
	background-color: #8080FF;
	border: 0px;
}
.ThemeShadedVioletSubMenuTable tr {
	padding: 0px;
	margin: 0px;
}
.ThemeShadedVioletMenuItemHover .ThemeShadedVioletMenuItemLeft, .ThemeShadedVioletMenuItemActive .ThemeShadedVioletMenuItemLeft {
	background-image: url(ThemeShadedViolet13.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 15px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-left: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMenuItemHover .ThemeShadedVioletMenuItemText, .ThemeShadedVioletMenuItemActive .ThemeShadedVioletMenuItemText, .ThemeShadedVioletMenuItemHover .ThemeShadedVioletMenuItemText a, .ThemeShadedVioletMenuItemActive .ThemeShadedVioletMenuItemText a {
	background-image: url(ThemeShadedViolet13.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: italic;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedVioletMenuItemHover .ThemeShadedVioletMenuItemRight, .ThemeShadedVioletMenuItemActive .ThemeShadedVioletMenuItemRight {
	background-image: url(ThemeShadedViolet13.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 15px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-right: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMenuItemHover .ThemeShadedVioletMenuFolderLeft, .ThemeShadedVioletMenuItemActive .ThemeShadedVioletMenuFolderLeft {
	background-image: url(ThemeShadedViolet9.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 15px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-left: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMenuItemHover .ThemeShadedVioletMenuFolderText, .ThemeShadedVioletMenuItemActive .ThemeShadedVioletMenuFolderText, .ThemeShadedVioletMenuItemHover .ThemeShadedVioletMenuFolderText a, .ThemeShadedVioletMenuItemActive .ThemeShadedVioletMenuFolderText a {
	background-image: url(ThemeShadedViolet11.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedVioletMenuItemHover .ThemeShadedVioletMenuFolderRight, .ThemeShadedVioletMenuItemActive .ThemeShadedVioletMenuFolderRight {
	background-image: url(ThemeShadedViolet10.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 15px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-right: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMenuItem .ThemeShadedVioletMenuItemLeft {
	background-image: url(ThemeShadedViolet12.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 15px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-left: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMenuItem .ThemeShadedVioletMenuItemText, .ThemeShadedVioletMenuItem .ThemeShadedVioletMenuItemText a {
	background-image: url(ThemeShadedViolet12.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedVioletMenuItem .ThemeShadedVioletMenuItemRight {
	background-image: url(ThemeShadedViolet12.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 15px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-right: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMenuItem .ThemeShadedVioletMenuFolderLeft {
	background-image: url(ThemeShadedViolet6.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 15px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-left: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMenuItem .ThemeShadedVioletMenuFolderText, .ThemeShadedVioletMenuItem .ThemeShadedVioletMenuFolderText a {
	background-image: url(ThemeShadedViolet8.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedVioletMenuItem .ThemeShadedVioletMenuFolderRight {
	background-image: url(ThemeShadedViolet7.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 15px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-right: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMenu {
	width: 52px;
	padding: 0;
	background-color: #000000;
}
.ThemeShadedVioletMenuOuter {
	background-color: transparent;
	border: 0px solid #000000;
}
.ThemeShadedVioletMenu tr {
	padding: 0px;
	margin: 0px;
	width: 52px;
}
.ThemeShadedVioletMainItemHover .ThemeShadedVioletMainItemLeft, .ThemeShadedVioletMainItemActive .ThemeShadedVioletMainItemLeft {
	background-image: url(ThemeShadedViolet5.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #6100A0;
	border-left: 1px solid #6100A0;
	border-top: 1px solid #6100A0;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMainItemHover .ThemeShadedVioletMainItemText, .ThemeShadedVioletMainItemActive .ThemeShadedVioletMainItemText, .ThemeShadedVioletMainItemHover .ThemeShadedVioletMainItemText a, .ThemeShadedVioletMainItemActive .ThemeShadedVioletMainItemText a {
	background-image: url(ThemeShadedViolet5.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: italic;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #6100A0;
	border-top: 1px solid #6100A0;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedVioletMainItemHover .ThemeShadedVioletMainItemRight, .ThemeShadedVioletMainItemActive .ThemeShadedVioletMainItemRight {
	background-image: url(ThemeShadedViolet5.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #6100A0;
	border-right: 1px solid #6100A0;
	border-top: 1px solid #6100A0;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMainItemHover .ThemeShadedVioletMainFolderLeft, .ThemeShadedVioletMainItemActive .ThemeShadedVioletMainFolderLeft {
	background-image: url(ThemeShadedViolet2.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 11px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-left: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMainItemHover .ThemeShadedVioletMainFolderText, .ThemeShadedVioletMainItemActive .ThemeShadedVioletMainFolderText, .ThemeShadedVioletMainItemHover .ThemeShadedVioletMainFolderText a, .ThemeShadedVioletMainItemActive .ThemeShadedVioletMainFolderText a {
	background-image: url(ThemeShadedViolet2.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedVioletMainItemHover .ThemeShadedVioletMainFolderRight, .ThemeShadedVioletMainItemActive .ThemeShadedVioletMainFolderRight {
	background-image: url(ThemeShadedViolet2.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 19px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-right: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMainItem .ThemeShadedVioletMainItemLeft {
	background-image: url(ThemeShadedViolet4.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 11px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-left: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMainItem .ThemeShadedVioletMainItemText, .ThemeShadedVioletMainItem .ThemeShadedVioletMainItemText a {
	background-image: url(ThemeShadedViolet4.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: italic;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedVioletMainItem .ThemeShadedVioletMainItemRight {
	background-image: url(ThemeShadedViolet4.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 19px;
	cursor: pointer;
	border-bottom: 0px solid #0000A0;
	border-right: 0px solid #0000A0;
	border-top: 0px solid #0000A0;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMainItem .ThemeShadedVioletMainFolderLeft {
	background-image: url(ThemeShadedViolet1.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #6200A0;
	border-left: 1px solid #6200A0;
	border-top: 1px solid #6200A0;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletMainItem .ThemeShadedVioletMainFolderText, .ThemeShadedVioletMainItem .ThemeShadedVioletMainFolderText a {
	background-image: url(ThemeShadedViolet1.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #6200A0;
	border-top: 1px solid #6200A0;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedVioletMainItem .ThemeShadedVioletMainFolderRight {
	background-image: url(ThemeShadedViolet1.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #6200A0;
	border-right: 1px solid #6200A0;
	border-top: 1px solid #6200A0;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletSubMenu TD, .ThemeShadedVioletMenu TD, .ThemeShadedVioletMenu TR {
	vertical-align: middle;
}
.ThemeShadedVioletMenuSplitText DIV {
	height: 1px;
	padding: 0px;
	background-color: #FFFFFF;
	overflow: hidden;
}
.ThemeShadedVioletMenuItem .ThemeShadedVioletMenuSplitLeft {
	background-image: url(ThemeShadedViolet14.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeShadedVioletMenuItem .ThemeShadedVioletMenuSplitText {
	background-image: url(ThemeShadedViolet14.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.ThemeShadedVioletMenuItem .ThemeShadedVioletMenuSplitRight {
	background-image: url(ThemeShadedViolet14.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeShadedVioletMainItem .ThemeShadedVioletMainSplitLeft {
	background-color: #454589;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeShadedVioletMainItem .ThemeShadedVioletMainSplitText {
	background-color: #454589;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 0px;
}
.ThemeShadedVioletMainItem .ThemeShadedVioletMainSplitRight {
	background-color: #454589;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 2px;
	padding-left: 0px;
}
.ThemeShadedVioletMainItem {
	vertical-align: middle;
}
.ThemeShadedVioletHorizontalSplit {
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	width: 10px;
	background-image: url(ThemeShadedViolet3.png);
	background-repeat: repeat-x;
	background-color: #8A00D1;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-size: 12pt;
	font-family: serif;
	font-style: normal;
	font-weight: bolder;
}
.ThemeShadedVioletMenuItem img.seq1, .ThemeShadedVioletMainItem img.seq1, .ThemeShadedVioletMenuItemHover seq2, .ThemeShadedVioletMenuItemActive seq2, .ThemeShadedVioletMainItemHover seq2, .ThemeShadedVioletMainItemActive seq2 {
	display: inline;
}
.ThemeShadedVioletMenuItem .seq2, .ThemeShadedVioletMenuItemHover .seq1, .ThemeShadedVioletMenuItemActive .seq1, .ThemeShadedVioletMainItem .seq2, .ThemeShadedVioletMainItemHover .seq1, .ThemeShadedVioletMainItemActive .seq1 {
	display: none;
}
.ThemeShadedVioletMainItem, .ThemeShadedVioletMainItemHover, .ThemeShadedVioletMainItemActive, .ThemeShadedVioletMenuItem, .ThemeShadedVioletMenuItemHover, .ThemeShadedVioletMenuItemActive {
	white-space: nowrap;
}
.themeSpacerDiv {
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1pt;
}
.ThemeShadedVioletSubMenu {
	position: absolute;
	visibility: hidden;
	overflow: visible;
	z-index: 100;
}
